
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
h1{
    background-color: burlywood;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 50px;
    
}
.Nav{
    background-color: coral;
    display: flex;
    justify-content: flex-end;
   
}
.navlist{
    display: flex;
    height: 12vh;
    list-style: none;
    margin: 20px;
    gap: 20px;
   
}
.Nav .navlist li a{
    text-decoration: none;
}
.parent{
    display: flex;
    width: 100%;
    height: 40vh;
}

 #vacation{
 background-color: rgb(92, 182, 182);
 height: 50vh;
 width: 70%;
 text-align: center;
 align-content: center;
} 

.Avoid{
    background-color: darkgoldenrod;
    text-align: center;
    height: 80vh;
    width: 30%;
    
}

.visit{
    background-color: burlywood;
    height:40vh;
    width: 70%;
    text-align: center;
    align-content: flex-end;
}


footer{
    background-color: darkcyan;
    
    height: 40vh;
    text-align: center;
    align-content: center;
}

